* {
    font-family: Helvetica;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    background-image: linear-gradient(to left, red, black);
}

h1{
    text-align: center;
    color: honeydew;
}

form {
    display: flex;
    flex-direction: column;
    
    color: honeydew;
    gap: 0.5rem;
    width: 500px;
    margin: 0 auto;
}

label {
    font-weight: bold;
    margin-bottom: 5px;

}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
}

button{
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(150, 13, 3);
    font-size: 1.1rem;
    cursor: pointer;
}

button:hover{
    background-color: honeydew;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
  }
  
  form input,
  form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
  }
  
  form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  
  #message {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
  }
  
  hr {
    margin: 20px 0;
  }
  
  #search {
    width: 70%;
    padding: 8px;
  }
  
  #movieList {
    margin-top: 20px;
  }
  